apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  namespace: uet-app-distributor
  labels:
    app: distributor
  name: distributor
spec:
  replicas: 2
  selector:
    matchLabels:
      app: distributor
  template:
    metadata:
      labels:
        app: distributor
    spec:
      containers:
        - image: thainm/uet-app-distributor:latest
          name: distributor
          env:
            - name: DB_NAME
              value: uet_app_distributor
            - name: DB_HOST
              value: uad-postgres-cluster
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: distributor.uad-postgres-cluster.credentials.postgresql.acid.zalan.do
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: distributor.uad-postgres-cluster.credentials.postgresql.acid.zalan.do
                  key: password
          resources: {}
