---
project: {{ project_name }}
description: {{ description }}
frontend:
  image: {{ frontend_image }}
  version: {{ frontend_image_version }}
backend:
  image: {{ backend_image }}
  version: {{ backend_image_version }}
database:
  image: {{ database_image }}